---
layout: default
---

<div class="post__grid">
    {% for post in site.posts %}
    {% if post.categories contains "design" %}
        <div class="post__item post__item_cell-full">
            <div class="post__item-container" style="background: url({{ site.baseurl }}/{{ post.pic }}) no-repeat center center;background-size:cover;">
            <div class="post__info post__info_cell-full show-for-small hide-for-medium">
                <a class="post__title post__title_cell-full" href="{{ post.url | prepend: site.baseurl }}">{{ post.categories }} / {{ post.title }}</a>
                <p class="post__desc">{{ post.desc }} <a href="{{ post.url | prepend: site.baseurl }}" class="post__show-more">Читать..</a></p>
            </div>
            </div>
            <div class="post__item-container show-for-medium hide-for-small">
                <div class="post__info post__info_cell-full">
                    <a class="post__title post__title_cell-full" href="{{ post.url | prepend: site.baseurl }}">{{ post.categories }} / {{ post.title }}</a>
                    <p class="post__desc">{{ post.desc }} <a href="{{ post.url | prepend: site.baseurl }}" class="post__show-more">Читать..</a></p>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
</div>