---js
const eleventyNavigation = {
	key: "корень",
	order: 1
};

const numberOfLatestPostsToShow = 12;
---

<div class="intro">hey <br/> i make something</div> 

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>последние посты</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p><a href="blog.njk">все посты</a></p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}

<div class="quote">
	there’s a bluebird in my heart that<br />
	wants to get out<br />
	but I’m too tough for him,<br />
	I say, stay in there, I’m not going<br />
	to let anybody see<br />
	you.
	<br />
	<br />
	there’s a bluebird in my heart that<br />
	wants to get out<br />
	but I pour whiskey on him and inhale<br />
	cigarette smoke<br />
	and the whores and the bartenders<br />
	and the grocery clerks<br />
	never know that<br />
	he’s<br />
	in there.
	<br />
	<br />
	there’s a bluebird in my heart that<br />
	wants to get out<br />
	but I’m too tough for him,<br />
	I say,<br />
	stay down, do you want to mess<br />
	me up?<br />
	you want to screw up the<br />
	works?<br />
	you want to blow my book sales in<br />
	Europe?
	<br />
	<br />
	there’s a bluebird in my heart that<br />
	wants to get out<br />
	but I’m too clever, I only let him out<br />
	at night sometimes<br />
	when everybody’s asleep.<br />
	I say, I know that you’re there,<br />
	so don’t be sad.
	<br />
	<br />
	then I put him back,<br />
	but he’s still singing a little<br />
	in there, I haven’t quite let him<br />
	die<br />
	and we sleep together like<br />
	that<br />
	with our<br />
	secret pact<br />
	and it’s nice enough to<br />
	make a man<br />
	weep, but I don’t<br />
	weep, do<br />
	you?
	<br />
	<br />
	<i>“Bluebird” by Charles Bukowski</i>
</div>