---js
const eleventyNavigation = {
	key: "проекты",
	order: 2
};
---

<h1>проекты</h1>

<ul>
{% for project in projects %}
	{% set projectUrl %}/projects/{{ project | slugify }}/{% endset %}
	<li><a href="{{ projectUrl }}" class="post-project">{{ project }}</a></li>
{% endfor %}

	<li><a href="#" class="post-project">school ops platform - wip</a></li>
	<li><a href="#" class="post-project">прадпрымальнiк platform = wip</a></li>
</ul>
