---js
const eleventyNavigation = {
	key: "проекты",
	order: 2
};
---

<h1>личные проекты</h1>

<ul>
{% for project in projects %}
	{% set projectUrl %}/projects/{{ project | slugify }}/{% endset %}
	<li><a href="{{ projectUrl }}" class="post-project">{{ project }}</a></li>
{% endfor %}

	<li class="post-project">
		school ops platform <strong>v1</strong><br/> is a multi-tenant school operating system - <strong>WIP</strong> / private pero
	</li>
	<br/>
	<li class="post-project">
		прадпрымальнiк platform <strong>v1</strong><br/> is a unified digital business management platform - <strong>WIP</strong> / private pero
		<br />
	</li>
</ul>
