---
layout: widelayout.njk
keywords: tattoo model belarus тату модель беларусь
eleventyNavigation:
  key: tattoo model
  order: 4
---

<h1>tattoo model</h1>

<div class="modeling-specs">
    <strong>specs</strong>

    <ul class="modeling-specs_list">
        <li>рост 190</li>
        <li>грудь 100</li>
        <li>талия 91</li>
        <li>бедра 102</li>
        <li>обувь 45-46</li>
        <li>вес 80</li>
    </ul>

    <a href="https://www.instagram.com/scumdograscal/" target="_blank" title="go to">instagram</a>
</div>


<div class="masonry-grid">
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/1.jpeg" alt="alt" loading="lazy" decoding="async" /></div>  
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/5.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/6.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/2.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/3.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/4.jpeg" alt="alt" loading="lazy" decoding="async" /></div> 
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/16.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/17.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/18.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/19.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/20.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/8.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/9.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/10.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/7.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/57.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/11.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/12.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/13.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/14.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/15.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/21.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/22.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/23.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/25.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/26.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/27.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/28.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/29.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/30.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/31.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/32.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/34.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/40.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/41.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/42.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/43.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/44.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/45.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/46.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/47.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/48.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/49.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/50.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/51.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/52.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/53.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/54.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/55.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
    <div class="masonry-item"><img src="/img/tattoo_model_imgs/56.jpeg" alt="alt" loading="lazy" decoding="async" /></div>
</div>