<footer class="footer">

  <div class="grid-container">

    <div class="grid-x align-justify small-up-1 medium-up-3">
      <div class="cell">
        <div class="footer__contacts">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </div>

      <div class="cell">
        <ul class="footer__social">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="cell">
          <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
