<div class="container">
    <ul id="gn-menu" class="gn-menu-main">
      <li class="gn-trigger">
        <a class="gn-icon gn-icon-menu"><span>Menu</span></a>
        <nav class="gn-menu-wrapper">
          <div class="gn-scroller">
            <ul class="gn-menu">
              <li>
                <span class="gn-icon gn-icon-download">Темы</span>
                <ul class="gn-submenu">
                  <li><a class="gn-icon gn-icon-illustrator" href="{{ post.url | prepend: site.baseurl }}/blog/frontend">Frontend</a></li>
                  <li><a class="gn-icon gn-icon-photoshop" href="{{ post.url | prepend: site.baseurl }}/blog/backend">Backend</a></li>
                  <li><a class="gn-icon gn-icon-illustrator" href="{{ post.url | prepend: site.baseurl }}/blog/design">Design</a></li>
                  <li><a class="gn-icon gn-icon-photoshop" href="{{ post.url | prepend: site.baseurl }}/blog/other">Other</a></li>
                </ul>
              </li>
              <li><a class="gn-icon gn-icon-cog">Обо мне</a></li>
            </ul>
          </div><!-- /gn-scroller -->
        </nav>
      </li>
      <li><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
    </ul>
  </div><!-- /container -->