@font-face {
    font-family: 'Norwester';
    src: local('Norwester'), local('Norwester-Regular'), url('../fonts/norwester/norwester.woff2') format('woff2'), url('../fonts/norwester/norwester.woff') format('woff'), url('../fonts/norwester/norwester.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.shield{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    &__pic{
        width: 50%;
        height: 100%;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__desc{
        width: 50%;
        padding: 0 40px;
        background: #6C9398;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 2rem;
        & p{
            margin: 0;
        }
    }
}

.post{
    &__grid{
        display: flex;
        flex-flow: row wrap;
        margin: 60px 0 0;
    }
    &__item-container{
        width: 50%;
        height: 100%;
        background-color: transparent;
        position: relative;
    }
    &__item{
        border: 1px solid #fff;
        background: transparent;
        display: flex;
        align-items: center;
        flex: 1;

        &_cell-full{
            width: 100%;
            min-height: 500px;
            flex:auto;
        }
        &_cell-half{
            width: 50%;
            min-height: 240px;
            flex:auto;
        }
        
    }
    &__article{
        margin: 60px 0;
    }
    &__info{
        margin: 0;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: rgba(253,85,58,.9);
        
        &_cell-half{
            width: 100%;
            height: auto;
        }
        &_cell-full{
            width: 90%;
            height: 70%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -8rem;
            right: 0;
            margin: auto;
        }
    }
    &__date{
        font-size: 1rem;
        color: #fff;
        font-family: 'Norwester';
        &_detail{
            color: #333;
        }
    }
    &__title{
        line-height: 50px;
        color: #fff;
        font-family: 'Norwester';
        &_cell-half{
            font-size: 2.2rem;
        }
        &_cell-full{
            font-size: 2.6rem;
            margin: 1rem;
        }
        &_detail{
            color: #333;
        }
        &:hover{
            color: #333;
        }
    }
    &__desc{
        font-size: 1.2rem;
        color: #fff;
    }
    &__show-more{
        font-size: 1.2rem;
        color: #fff;
        text-decoration: underline;
        &:hover{
            color: #333;
        }  
    }
    &__header{}
    &__content{}
}

.pagination{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0 !important;
    &__previous{
        &_av{}
        &_unav{
            cursor: not-allowed;
        }
    }
    &__next{
        &_av{}
        &_unav{
            cursor: not-allowed;
        }
    }
    &__page-number{}
}

.pagination::after, .pagination::before{
    display: none !important;
}

.footer {
    width: 100%;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit/2 0;
    &__contacts {
        list-style: none;
        margin-left: 0;
    }
    &__social {
        list-style: none;
        margin-left: 0;
    }
}

@media screen and (max-width:960px){
    .post{
        &__info{
            padding: 1rem;
            &_cell-full{
                width: auto;
            }
        }
        &__item{
            &-container{
                width: 100%;
            }
        }
        &__title{
            font-size: 1.2rem;
        }
        &__date{
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width:639px){
    .post{
        &__grid{
        }
        &__info{
            padding: 8px;
            &_cell-full{
                left: 0;
                width: 90%;
            }
        }
        &__item{
            
        }
        &__title{
            font-size: 1rem;
            &_cell-full{
                font-size: 1.4rem;
                line-height: normal;
            }
            &_cell-half{
                font-size: 1.2rem;
                line-height: normal;
            }
        }
        &__desc{
            font-size: 1rem;
        }
        &__show-more{
            font-size: 1rem;
        }
        &__date{
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width:320px){
    .shield{
        height: auto;
        flex-direction: column;
        &__pic{
            width: 100%;
        }
        &__desc{
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            text-align: center;
        }
    }
    
}