.header {
    padding: $spacing-unit/2 0;
    position: relative;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
    &__title{
        font-size: 2rem;
    }
    &__rss{
        font-size: 1.2rem;
    }
}

.shield{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    &__pic{
        width: 50%;
        height: 100%;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__desc{
        width: 50%;
        padding: 0 40px;
        background: #6C9398;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 2rem;
        & p{
            margin: 0;
        }
    }
}

.post{
    &__grid{
        display: flex;
        flex-flow: row wrap;
        margin: 3rem 0;
    }
    &__item{
        padding: 1rem;
        border: 1px solid #fff;
        background: #e0f8ff;
        flex: 1;
        &_cell-4{
            width: 100%;flex:auto
        }
        &_cell-3{
            width: 75%;flex:auto
        }
        &_cell-2{
            width: 50%;flex:auto
        }
        &_cell-1{
            width: 25%;flex:auto
        }
    }
    &__article{
        margin-top: 2rem;
    }
    &__date{
        font-size: 1rem;
        color: #828282;
    }
    &__title{
        font-size: 3rem;
    }
    &__header{}
    &__content{}
}

.pagination{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__previous{
        &_av{}
        &_unav{
            cursor: not-allowed;
        }
    }
    &__next{
        &_av{}
        &_unav{
            cursor: not-allowed;
        }
    }
    &__page-number{}
}

.pagination::after, .pagination::before{
    display: none !important;
}

.footer {
    width: 100%;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit/2 0;
    &__contacts {
        list-style: none;
        margin-left: 0;
    }
    &__social {
        list-style: none;
        margin-left: 0;
    }
}


@media screen and (max-width:320px){
    .shield{
        height: auto;
        flex-direction: column;
        &__pic{
            width: 100%;
        }
        &__desc{
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            text-align: center;
        }
    }
    .post{
        &__grid{
        }
        &__item{
        }
        &__title{
            font-size: 1.2rem;
        }
    }
}