@font-face {
    font-family: 'Norwester';
    src: local('Norwester'), local('Norwester-Regular'), url('../fonts/norwester/norwester.woff2') format('woff2'), url('../fonts/norwester/norwester.woff') format('woff'), url('../fonts/norwester/norwester.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

.article{
    margin: 60px 0;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.9);
    &__header{}
    &__pic{
        width: 80%;
        height: auto;
        margin: 1rem auto;
        display: block;
    }
    &__title{
        line-height: 50px;
        font-family: 'Norwester';
        color: #333;
    }
    &__date{
        font-size: 1rem;
        font-family: 'Norwester';
            color: #333;
    }
    &__content{}
}

.highlighter-rouge{
    border: 1px solid rgba(253, 85, 58, 0.9);
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: 500;
    color: #fff;
    border-radius: 4px;
    background-color: rgba(253, 85, 58, 0.9) !important;
}

pre{
    padding: 1rem !important;
    margin: .5em 0 !important;
    overflow: auto !important;
    background: #f5f2f0;
    color: #000;
    text-shadow: 0 1px #fff;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    tab-size: 4 !important;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}
code{
    background-color: transparent !important;
}

.shield{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-between;
    &__pic{
        width: 50%;
        height: 100%;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__desc{
        width: 50%;
        padding: 0 40px;
        background: #6C9398;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        text-transform: uppercase;
        font-size: 2rem;
        & p{
            margin: 0;
        }
    }
}

.typo {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Playfair Display', sans-serif;    
  color: #585858;
  text-decoration: none;
  option {
    font-size: 30px;
  }  
}

.transition {
   transition: all .4s ease-in-out;
}

.wrapper {
    margin-top: 90px;
    font-size: 60px;
}

.list {
  display: inline-block;
  position: relative;
  margin-left: 6px;
  ul {
    text-align: left;
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    display: none;
    z-index: 6;

    .active {
      display: block;
    }
    
  }
  li {
    list-style:none;
    &:first-child a {
      color: desaturate(hsla(269, 100%, 50%, 1), 50%);
    }
  }
  a {
    @extend .typo;
    transition: all .4s;
    color: hsla(269, 100%, 50%, 1);
    position: relative;
    &:after {
      position: absolute;
      content: '';
      height: 5px;
      width: 0;
      left: 0;
      background: lighten(hsla(269, 100%, 50%, 1), 20%);
      bottom: 0;
      transition: all .4s ease-out;
    }
    &:hover {
      cursor: pointer;
      color: lighten(hsla(269, 100%, 50%, 1), 20%);
      &:after {
        width: 100%;
      }
    }    
  }
}

select {
  display: inline;  
  border: 0;
  width: auto;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid #555;
  color: hsla(269, 100%, 50%, 1);
  transition: all .4s ease-in-out;
  
  &:hover {
    cursor: pointer;    
  }
  
  option {
    border: 0;
    border-bottom: 1px solid #555;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

.placeholder {
  //visibility: hidden;
  //position: fixed;
  border-bottom: 4px solid;
  cursor: pointer;
  &:hover {
    color: lighten(#555, 20%);
  }
}

.post{
    &__grid{
        display: flex;
        flex-flow: row wrap;
        margin: 60px 0 0;
    }
    &__item-container{
        width: 50%;
        height: 100%;
        background-color: transparent;
        position: relative;
    }
    &__item{
        border: 2px solid #fff;
        background: transparent;
        display: flex;
        align-items: center;
        flex: 1;

        &_cell-full{
            width: 100%;
            min-height: 500px;
            flex:auto;
        }
        &_cell-half{
            width: 50%;
            min-height: 240px;
            flex:auto;
        }
        
    }
    &__info{
        margin: 0;
        padding: 1rem 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        background-color: rgba(253,85,58,.9);
        
        &_cell-half{
            width: 100%;
            height: auto;
        }
        &_cell-full{
            width: 90%;
            height: 70%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -8rem;
            right: 0;
            margin: auto;
        }
    }
    &__date{
        font-size: 1rem;
        color: #fff;
        font-family: 'Norwester';
    }
    &__title{
        line-height: 50px;
        color: #fff;
        font-family: 'Norwester';
        &_cell-half{
            font-size: 2.2rem;
        }
        &_cell-full{
            font-size: 2.6rem;
            margin: 1rem;
        }
        &:hover{
            color: #333;
        }
    }
    &__desc{
        font-size: 1.2rem;
        color: #fff;
    }
    &__show-more{
        font-size: 1.2rem;
        color: #fff;
        text-decoration: underline;
        &:hover{
            color: #333;
        }  
    }
}

.gallery-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: calc(100% - 60px);
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
}

.gallery-images{
    width: auto;
    height: auto;
    margin: 1rem auto;
    display: block;
    max-width: 100%;
    border-radius: 9px;
    cursor: pointer;
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.pagination{ 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem 0 !important;
    padding: 2rem 0;
    background-color: rgba(253,85,58,.9);
    &__previous{
        &_av{}
        &_unav{
            cursor: not-allowed;
        }
    }
    &__next{
        &_av{}
        &_unav{
            cursor: not-allowed;
        }
    }
    &__text{
        color: #fff;
        font-family: 'Norwester';
        font-size: 1.2rem;
    }
}

.pagination::after, .pagination::before{
    display: none !important;
}

.footer {
    width: 100%;
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit/2 0;
    &__contacts {
        list-style: none;
        margin-left: 0;
    }
    &__social {
        list-style: none;
        margin-left: 0;
    }
}

@media screen and (max-width:960px){
    .grid-container{
        padding: 0 !important;
    }
    .post{
        &__info{
            padding: 1rem;
            &_cell-full{
                width: auto;
            }
        }
        &__item{
            &-container{
                width: 100%;
            }
        }
        &__title{
            font-size: 1.2rem;
        }
        &__date{
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width:639px){
    .post{
        &__grid{
        }
        &__info{
            padding: 8px;
            &_cell-full{
                left: 0;
                width: 90%;
            }
        }
        &__item{
            
        }
        &__title{
            font-size: 1rem;
            &_cell-full{
                font-size: 1.4rem;
                line-height: normal;
            }
            &_cell-half{
                font-size: 1.2rem;
                line-height: normal;
            }
        }
        &__desc{
            font-size: 1rem;
        }
        &__show-more{
            font-size: 1rem;
        }
        &__date{
            font-size: 0.7rem;
        }
    }
}

@media screen and (max-width:320px){
    .shield{
        height: auto;
        flex-direction: column;
        &__pic{
            width: 100%;
        }
        &__desc{
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            text-align: center;
        }
    }
    .article__pic{
        width: 100%;

    }
}