*, body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.cards__grid{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;
    align-items: center;

    overflow-x: scroll;
}

.button{
    height: 35px;

    background-color: transparent;

    border-radius: 4px;

    font-size: 14px;
    font-weight: 600;
    text-align: center;

    cursor: pointer;

    position: relative;

    transition: 0.2s;
}

.button_like{
    min-width: 51px;

    margin-right: 16px;

    background: #FFFFFF;

    border: 2px solid #FF9F9F;

    background: url(../../icons/icon_heart.svg) center center no-repeat;
}

.button_like:hover{
    background-color: #FF9F9F;

    background-image: url(../../icons/icon_heart_hover.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.button_buy{
    padding-right: 10px;

    color: #FFFFFF;

    border: 2px solid #009900;

    background: #009900;

    background-image: url(../../icons/icon_cart.svg);
    background-position: 21px center;
    background-repeat: no-repeat;
    background-size: 20px 17px;

    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.button_buy[data-expanded="true"]{
    padding-right: 54px;

    background-position: 45px center;
}

.button_buy:hover{
    background-color: transparent;
    background-image: url(../../icons/icon_cart_hover.svg);

    color: #009900;
}
