.card__characteristics{
    width: 100%;

    margin-top: 18px;

    list-style: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card__characteristics li{
    width: 100%;

    padding: 7px 9px;

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    white-space: nowrap;
}

.card__characteristics li:nth-child(odd){
    background: #F4F2EE;
}

.card__characteristics strong{
    font-weight: 600;
}
