<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <p style="width:100vw;height:100vh;position: absolute;top: 0;left: 0;margin: 0;z-index: 1;display: flex;align-items: center;justify-content: center;background: url(./images/eye.gif) no-repeat center center;background-size: cover;font-size: 2rem;color: #fff;">The website is under construction</p>

    <script src="{{ base.url | prepend: site.url }}/js/classie.js"></script>
    <script src="{{ base.url | prepend: site.url }}/js/gnmenu.js"></script>
    <script>
      new gnMenu( document.getElementById( 'gn-menu' ) );
    </script>

  </body>

</html>
