*, body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

.grid{
    margin-top: 80px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.item{
    width: 300px;

    flex-shrink: 0;
}
